<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
	<add key="envscope" value="http://www.medicity.com/2012/03/RecordManagementService/scope/GEN_DEV7"/>
  </appSettings>
</configuration>
